* {
  color: #faedf0;
}
body {
  background-color: #000f08;
}

#about {
  color: #f34213;
  height: 400px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 160px 0 160px 0;
}
#about .desc p {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#tools {
  height: 320px;
  padding: 64px 0 32px 0;
}
.tools-title {
  text-align: center;
  margin-bottom: 32px;
  color: #f34213;
}
.projects-title {
  text-align: center;
  margin-bottom: 32px;
  color: #f34213;
}
#tools .items {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10%;
}
#tools .items .item {
  border: 1px solid #136f63;
  width: 150px;
  height: 150px;
  border-radius: 10%;
}
#tools .items .item:hover {
  border-radius: 10%;
  background-color: #012715;
  transition: 0.7s;
}
#tools .items .item img {
  align-self: center;
  justify-self: center;
  padding: 20px;
  width: 150px;
  height: 150px;
}
#projects {
  justify-items: center;
  padding: 64px 0 64px 0;
}
#projects .items {
  width: 80%;
  margin: 0 auto;
}

#projects .items .item {
  margin: 24px 0;
}

.contact-title {
  text-align: center;
  margin-bottom: 32px;
  color: #f34213;
}
#contact {
  height: 320px;
}
#contact .divide .desc {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#contact .divide .items {
  display: flex;
  justify-content: center;
}
#contact .divide .items .item {
  margin: 0 6px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #136f63 !important;
  border: 1px solid #136f63;
  color: #faedf0;
}
.btn-primary:hover {
  background-color: #0e554c !important;
  border: 1px solid #0e554c;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: #3e2f5b !important;
  border: 1px solid #3e2f5b;
  color: #faedf0;
}
.btn-secondary:hover {
  background-color: #33264b !important;
  border: 1px solid #33264b;
}

@media all and (max-width: 1080px) {
  #about .desc p {
    width: 80%;
  }
  #tools .items .item {
    width: 80px;
    height: 80px;
    border-radius: 10%;
  }
  #tools .items .item img {
    padding: 10px;
    width: 80px;
    height: 80px;
  }
  #projects {
    justify-items: center;
    padding: 32px 0 32px 0;
  }
}
@media all and (max-width: 480px) {
  #about {
    margin-bottom: 32px;
  }
}
