* {
  color: #efefef;
}
body {
  background-color: #0a1931;
}
#about {
  color: #ffc947;
}
.items {
  width: 150px;
  height: 150px;
  border: 1px solid #ffc947;
  align-items: center;
  justify-items: center;
  border-radius: 10%;
}
.items img {
  align-self: center;
  justify-self: center;
  padding: 20px;
  width: 150px;
  height: 150px;
}
#tools {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10%;
}
